ion-button {
    --background:royalblue;
}

ion-content{
}

ion-grid{
    text-align: left;
}

ion-header {
    --font-weight: bold;
    --background-color: gray;
    --color: gray;
}

.col-header{
    font-weight: bold;
}

ion-col{
    border: solid 1px gray;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}

.col-content{
    border: 0px transparent;
    height:30px;
}

.wrapper{
    margin: 10px;
    width: 80%;
    /* background: gray; */
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

ion-title{
    font-weight: bold;
}

.ueberschrift{
    color:black;
    margin-left: 1%;
}
